body{
	background-color : #F0F2F2;
	color : #59564F;
}

#content{
	width : 50%;
	height :80%;
	background-color : #F0F2F2;
	margin: 0 auto;
	margin-top : 100px;
}

.row{
	width :90%;
	background-color: #F0F2F2;
	margin : 0 auto;
	padding : 2%;
}
.col1, .col2, .col3{
	display: inline-block;
	vertical-align: top;
	width : 30%;
	height:100px;
	background-color : white;
	margin : 0 0 0 0;
	text-align : center;
	border-style:dotted;
	border-color:#91A9D9;
	font-size:50px;
	vertical-align: middle;
	margin-top:-30px;
	margin-left:-10px;
	padding-top :30px;
}

#00{
	boder-top :none;
}

red - F22E52
white - F2F2F2
yellow - F2D95C
brown - 594736
darkbrown - 261B14