body{
	background-color : #F0F2F2;
}

#content{
	width : 50%;
	height :80%;
	background-color : #F0F2F2;
	margin: 0 auto;
}

.row{
	width :90%;
	background-color: #F0F2F2;
	margin : 0 auto;
	padding : 2%;
}
.col1, .col2, .col3{
	display: inline-block;
	vertical-align: top;
	width : 30%;
	height:100px;
	background-color : white;
	margin : 0 0 0 0;
	text-align : center;
	border-style:dotted;
	border-color:#F22E52;
	font-size:50px;
	vertical-align: middle;
}

#00, #01, #02{
	boder-top :none;
}

red - F22E52
white - F2F2F2
yellow - F2D95C
brown - 594736
darkbrown - 261B14